* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	position: relative;
}

.link_style:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background-color: #FF99A1;
	transition: width 0.5s;
}

.link_style:hover:after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 2px;
	background-color: #FF99A1;
	transition: width 0.5s;
}

.main_background {
	height: 100%;
	width: 100%;
	background-color: #03021E;
}

.wrapper {
	width: 1100px;
	margin: auto;
}

.header-line {
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: #252433;
}

.header-line__title {
	display: inline-block;
	vertical-align: middle;
	color: #FC3F4D;
	font-family: 'montserrat alternates', sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;

}

.header-line__nav {
	display: flex;
	height: 70px;
	width: 1100px;
	align-items: center;
	list-style: none;
	justify-content: flex-end;
}

.header-line__nav_img {
	width: 150px;
}

.header-line__nav li {
	margin-right: 38px;
}

.header-line__nav li:first-child {
	margin-right: auto;
}

.header-line__nav li:nth-child(2) {
	margin-right: auto;
}

.header-line__nav li:last-child {
	margin-right: 0px;
}

.header-line__nav li a {
	color: #FC3F4D;
	font-family: 'montserrat alternates', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .3s ease;
}

.header-line__nav li a:hover {
	color: #FF99A1;
}

/* Конец header */

/* Начало блока логотипа с фото */

.title_block_main {
	height: 650px;
}

.title_block {
	background-color: #03021E;
}

.logo {
	position: absolute;
	bottom: 325px;

}

.logo_people {
	position: absolute;
	right: 50px;
	top: 90px;
	max-width: 750px;
}



/* Конец блока логотипа с фото */


/* Начало блока О НАС */

.about-us__text {
	color: white;
	margin: 50px 0 0 0;
	padding-bottom: 50px;
	font-family: 'montserrat', sans-serif;
	font-weight: regular;
	font-size: 24px;
	text-indent: 1.5em;
}
/* Конец блока О НАС */


/* Начало блока БИЛЕТЫ */

.tickets__block {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin: 50px 0 0 0;
	padding-bottom: 50px;
}

.tickets__block_map img {
	width: 520px;
	height: 555px;
}


.tickets__block_info_list {
	list-style: none;
}

.tickets__block_info_list li {
	display: block;
	margin-bottom: 27px;
	text-align: center;
	border: 2px solid #34CFBE;
	border-radius: 30px;
	transition: background-color 0.5s, color 0.5s;
}

.tickets__block_info_list li a {
	display: inline-block;
	width: 356px;
	padding: 33px 0px;
	color: white;
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	font-style: italic;
	text-decoration: none;
}


.tickets__block_info_list li:hover {
	background-color: #34CFBE;
	border-color: white;
}

.tickets__block_info_list li:last-child {
	margin-bottom: 0px;
}
/* Конец блока БИЛЕТЫ */


/* Начало блока РЕЛИЗЫ */

.releases__alboms {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 0 0 ;
	align-items: center;
	font-size: 50px;
}

.releases__alboms_img {
	width: 429px;
}

.releases__alboms_img:hover {
	opacity: 0.7;
}

.releases__tops {
	display: flex;
	justify-content: space-around;
	color: white;
	margin-top: 30px;
	padding-bottom: 50px;
}


.releases__tops_top_tracks {
	margin-top: 11px;
	list-style: none;
}

.releases__tops_top_chart {
	color: #FC3F4D;
	font-family: "montserrat alternates", sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}

.releases__tops_top_tracks li {
	border-radius: 5px;
	margin-bottom: 8px;
	height: 50px;
	width: 214px;
	color: white;
	background-color: #252433;
}

.releases__tops_top_tracks li:last-child {
	margin-bottom: 0px;
}

.releases__tops_top_tracks li::before {
	content: '';
	width: 50px;
	height: 50px;
	border-radius: 5px;
	float: left;
	background-image: url("images/music.png"), no-repeat;
	margin: 0 10px 0 0;
}

.releases__tops_top_tracks_grid img, .releases__tops_top_tracks_grid div {
	background-color: grey;
	border-radius: 10px;
}

.releases__tops_top_tracks_grid {
	margin-top: 12px;
	display: grid;
	gap: 6px;
	grid-template-columns: 50px 215px;
	grid-template-rows: repeat(3, 50px);
	grid-template-areas: 
		"img_music1 names_music1" 
		"img_music2 names_music2" 
		"img_music3 names_music3";
}

.releases__tops_top_tracks_grid_block p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	margin-left: 12px;
	margin-top: 12px;
}



.tr1 {
	grid-area: img_music1;
}

.tr2 {
	grid-area: names_music1;
}

.tr3 {
	grid-area: img_music2;
}

.tr4 {
	grid-area: names_music2;
}

.tr5 {
	grid-area: img_music3;
}

.tr6 {
	grid-area: names_music3;
}
/* Конец блока РЕЛИЗЫ */


/* Начало блока МЕРЧ */
.merch__images {
	display: grid;
	grid-gap: 14px;
	grid-template-columns: repeat(4, 222px);
	grid-template-rows: repeat(3, 222px);
	grid-template-areas: 
		"big_img1 big_img1 small_img1 small_img2" 
		"big_img1 big_img1 big_img2 big_img2"
		"small_img3 small_img4 big_img2 big_img2";
	grid-auto-rows: 222px;
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 100px;
}

.merch__images_block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*.merch__images_block img {
	max-width: 460px;
	object-fit: contain;
}
*/
.bl1 {
	grid-area: big_img1;
}

.bl2 {
	grid-area: small_img1;
}

.bl3 {
	grid-area: small_img2;
	border: 5px solid #FC3F4D;
}

.bl3:hover {
	opacity: 0.7;
}

.bl4 {
	grid-area: big_img2;
}

.bl5 {
	grid-area: small_img3;
}

.bl6 {
	grid-area: small_img4;
}

.merch__images_block_cors {
	font-family: 'montserrat alternates', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #FC3F4D;
	width: 151px;
	margin: auto;
	margin-top: 20px;
}
/* Конец блока МЕРЧ */

/* Начало блока Footer */
.footer {
	background-color: black;
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	color: white;
	clear: both;
}

.footer__flex {
	display: flex;
	justify-content: space-between;
}

.footer__logo_img {
	width: 150px;
}

.footer__menu {
	display: flex;
	list-style: none;
	margin-top: 30px;
	gap: 30px;
}

.footer__menu li a {
	color: white;
	transition: color 0.3s;
}

.footer__menu li a:hover {
	color: #FF99A1;
}

/* Конец блока Footer */


/* ------------------------------- */
/* Начало страницы Мерч */
/* ------------------------------- */

.shop {
	margin-top: 100px;
	margin-bottom: 100px;
}

.shop__cart {
	margin-top: 30px;
	display: flex;
	position: relative;
	gap: 20px;
	color: white;
	height: 270px;
}

.shop__cart_img {
	position: relative;
	width: 270px;
	height: 270px;
	border-radius: 10px;
}

.shop__cart_img:hover {
	opacity: 0.7;
}

.shop_cart_text {
	display: flex;
	flex-direction: column;
}

.shop__cart_title {
	font-family: 'montserrat alternates', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #FC3F4D;
}

.shop__cart_description {
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	margin-top: 15px;
}

.shop__cart_button {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
}

.shop__cart_button a {
	color: white;
	display: block;
	padding: 15px 30px;
	border: 1px solid red;
	border-radius: 10px;
}


.shop__cart_button a:hover {
	background-color: #FC3F4D;
	color: #03021E;
}

.telega_img_block {
	position: fixed;
	right: 70px;
	bottom: 150px;
}

.telega_img {
	width: 100px;
}

/* ------------------------------- */
/* Конец страницы Мерч */
/* ------------------------------- */



/* ------------------------------- */
/* Начало страницы Мерч(отдельная страница) */
/* ------------------------------- */

.shop_page {
	margin-top: 50px;
}

.shop_page__info {
	display: flex;
	gap: 50px;
}

.shop_page__info_img {
	border-radius: 10px;
	width: 500px;
	height: 100%;
}

.shop_page__info_text {
	display: flex;
	flex-direction: column;
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	color: white;
}

.shop_page__info_price {
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	margin-top: 10px;
}

.shop_page__info_compound {
	margin-top: 40px;
}

.shop_page__info_compound ul {
	font-size: 16px;
	list-style: none;
	margin-left: 20px;

}

.shop_page__info_compound ul li {
	margin-top: 5px;

}

.shop_page__info_size {
	width: 200px;
	margin-top: 20px;
	position: relative;
	display: inline-block;
}

.shop_page__info_color {
	width: 200px;
	margin-top: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 250px;
	background-color: #69D3B7;
	text-align: center;
	z-index: 10;
}

.dropdown-content p:hover {
	background-color: #4DAF95;
}

.dropdown-content p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: white;
}

.shop_page__info_size:hover .dropdown-content {
	display: block;
}

.shop_page__info_color:hover .dropdown-content {
	display: block;
}

.shop_page__info_list {
	position: relative;
	margin-top: 10px;
	width: 250px;
	padding: 5px 10px;
	border: 1px solid white;
}

.shop_page__info_list:after {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	border: 8px solid transparent;
	border-left: 8px solid white;
}

.shop_page__info_list:hover::after {
	border-left: none;
	top: 50%;
	transform: translateY(-25%);
	transform: translateX(-5px);
	border: 8px solid transparent;
	border-top: 8px solid white;

}


.shop__cart_button_flex {
	display: flex;
	gap: 20px;
	margin-top: 120px;
}

.button1 {
	position: relative;
}

.shop__cart_button_buy {
	text-align: center;
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
}

.shop__cart_button_buy a {
	color: white;
	display: block;
	padding: 15px 30px;
	border: 1px solid #69D3B7;
	border-radius: 10px;
}

.shop__cart_button_buy a:hover {
	border: 1px solid white;
	background-color: #69D3B7;
	color: white
}

.shop_page__about_product {
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	color: white;
	width: 550px;
	float: right;
	margin-top: 50px;
	margin-bottom: 100px;
}

/* ------------------------------- */
/* Конец страницы Мерч(отдельная страница) */
/* ------------------------------- */



/* ------------------------------- */
/* Начало страницы Релизы */
/* ------------------------------- */

.releases {
	margin-bottom: 100px;
}

.releases__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.releases__card {
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: 450px;
}

.releases__card_img:hover {
	opacity: 0.75;
}

.releases__card_img {
	width: 450px;
	border-radius: 15px;
}

.releases__card_named {
	position: absolute;
	bottom: 0px;
	font-family: 'montserrat alternative', sans-serif;
	font-size: 40px;
	color: white;
	margin: 0 0 10px 10px;
}
/* ------------------------------- */
/* Конец страницы Релизы */
/* ------------------------------- */

/* ------------------------------- */
/* Начало страницы Релизы(отдельная страница) */
/* ------------------------------- */

.release_page {
	margin-top: 100px;
}

.release_page__img {
	border-radius: 10px;
	width: 470px;
}

.release_page__info {
	display: flex;
	gap: 20px;
}

.release_page__links {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 15px;
	list-style: none;
}

.release_page__links li a {
	font-family: 'montserrat', sans-serif;
	font-size: 24px;
	word-wrap: nowrap;
	display: block;
	padding: 10px 20px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 30px;
	color: black;
	transition: 0.5s;
}

.release_page__links li a:hover {
	color: white;
	background-color: black;
}

.release_page__hr {
	width: 300px;
	height: 3px;
	background-color: grey;
	margin-top: 30px;
}

/* ------------------------------- */
/* Конец страницы Релизы(отдельная страница) */
/* ------------------------------- */




/* ------------------------------- */
/* Начало страницы Билеты */
/* ------------------------------- */
.tickets_s {
	margin-bottom: 50px;
}

.tickets__blocks {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.tickets__blocks_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	font-family: 'montserrat', sans-serif;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
}

.tickets__blocks_block_date {
	height: 100%;
	border: 3px solid #FC3F4D;
	text-align: center;
	padding: 0px 10px;
	min-width: 160px;
	font-size: 24px;
}

.tickets__blocks_block_date p, .tickets__blocks_block_date span {
	margin-top: 5px;
}	

.tickets__blocks_block_date span {
	display: block;
	font-size: 36px;
	color: #FC3F4D;
}

.tickets__blocks_block_date p {
	text-transform: uppercase;
}

.tickets__blocks_block_city {
	max-width: 300px;
}

.tickets__blocks_block_city p {
	color: #FC3F4D;
}

.tickets__blocks_block_street {
	max-width: 300px;
}

.tickets__blocks_block_buy a {
	display: block;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px 30px;
	transition: 0.3s;
}

.tickets__blocks_block_buy a:hover {
	border-radius: 10px;
	background-color: white;
	color: black;

}

.tickets__year {
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	color: white;
}



/* ------------------------------- */
/* Конец страницы Билеты */
/* ------------------------------- */


/* ------------------------------- */
/* Начало страниц Регистрация и Вход */
/* ------------------------------- */
.form {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.form_card {
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border: 1px solid #FC3F4D;
    border-radius: 15px;
    width: 400px;
    height: 500px;
}

.form_card form p {
    margin-top: 10px;
}

.form_card h2 {
    text-align:center;
}

.entry_button {
    padding: 5px 20px;
    background: white;
    border: 1px solid black
    transition: background .3s, color .3s;
    margin-top: 15px;
}

.entry_button:hover {
    background: black;
    color: white;
}


/* ------------------------------- */
/* Конец страниц Регистрация и Вход */
/* ------------------------------- */













