{% extends 'main/base.html' %}

{% block main %}
<div class="about_us">
	<div class="wrapper">
		<div class="about-us__text">
			<p>Архангельская панк-рок-группа, основанная в 2003 году под названием Шрекс, первоначально исполняли музыку в стиле рэп, но вскоре они разочаровались в данном стиле музыки и решили перейти на панк-рок. Нынешний состав группы состоит из ритм-гитариста Андреева Максима Максимовича и вокалиста Андрея Боровского, гитариста Алексея Светоборца, басиста Олеа "Psay" Алексеевича, и барабанщика Чопра Марактуса, все из которых являются основателями.</p>

			<p>Существуя с 2007 года под названием Гражданские бобры. Первоначально они выступали на улице Чумбарово-Лучинского, где и нашли своих первых фанатов. Вскоре они начали выступать на сцене клуба "Колесо" и стали частыми гостями этой сцены.</p>

			<p>В группе происходили тёрки из-за того, что гитарист Алексей Светоборец хотел увести невесту у ритм-гитариста Андреева Максима Максимовича группа чуть не распалась, но благодая солисту данный конфликт удалось умять. Но в 2010 году из-за учёбы вокалиста во Франции, группа вынуждена была приостановить свою деятельность на 8 лет. За это время многие позабыли о существовании данной группы и осталось лишь несколько верных фанатов.</p>

			<p>Но спустя все преграды, группа возвращается, пересмотрев свой вгляды на музыку и поменяв направление, в ближайшее время группа будет радовать вас новыми хитами и выступлениями.</p>
		</div>
	</div>
</div>
{% endblock %}