{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shmeks</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">
</head>
<body class="main_background">
<header>
	<div class="header-line">
		<div class="wrapper">
			<ul class="header-line__nav">
				<li><a href="{% url 'index' %}"><img src="{% static 'main/images/logo.png' %}" class="header-line__nav_img"></a></li>
				<li><a href="{% url 'about_us' %}" class="link_style">О нас</a></li>
				<li><a href="{% url 'tickets' %}" class="link_style">Билеты</a></li>
				<li><a href="{% url 'releases' %}" class="link_style">Релизы</a></li>
				<li><a href="{% url 'shop' %}" class="link_style">Мерч</a></li>
			</ul>
		</div>
	</div>
</header>
{% block main %}

{% endblock %}
<footer class="footer">
	<div class="wrapper">
		<div class="footer__flex">
			<img src="{% static 'main/images/logo.png' %}" class="footer__logo_img" alt="logo">
			<div>
				<ul class="footer__menu">
					<li><a href="#" class="link_style">Соглашение</a></li>
					<li><a href="#" class="link_style">Концерты</a></li>
					<li><a href="#" class="link_style">Релизы</a></li>
					<li><a href="#" class="link_style">Мерч</a></li>
					<li><a href="#" class="link_style">О нас</a></li>
				</ul>
			</div>
		</div>
		<br>
		<p>&#169; shmeks 2023</p>
	</div>
</footer>
</body>
</html>